* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(113, 122, 133);
  font-family: sans-serif;
  color: rgb(220, 220, 220);
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  color: #fff;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}
h1 {
  font-weight: 400;
}
a {
  color: inherit;
}
p {
  margin-top: 0.7em;
}
.warning {
  color: rgb(62, 148, 236);
}
.st_viewport {
  margin: 30px;
  max-height: 500px;
  margin-bottom: 100px;
  overflow: auto;
}

[data-table_id="1"] {
  background-color: rgb(255, 115, 0);
}
[data-table_id="2"] {
  background-color: rgb(61, 53, 39);
  color: rgb(220, 220, 220);
}
[data-table_id="3"] {
  background-color: rgba(168, 189, 4, 0.8);
}
[data-table_id="4"] {
  background-color: rgba(16, 189, 90, 0.8);
}
[data-table_id="5"] {
  background-color: rgba(168, 1, 4, 0.8);
}
[data-table_id="7"] {
  background-color: rgba(16, 189, 4, 0.8);
}

._rank {
  min-width: 200px;
}
._id {
  min-width: 200px;
}
._name {
  min-width: 200px;
}
._surname {
  min-width: 200px;
}
._year {
  min-width: 200px;
}
._section {
  min-width: 200px;
}

._dateLivraison{
  min-width: 200px;
}

pre {
  overflow: auto;
}

/** Sticky table styles **/
.st_viewport {
  background-color: rgb(62, 148, 236);
  color: rgb(27, 30, 36);
}

/* ###  Table wrap */
.st_wrap_table {
  height: 10% ;
  width: 100% ;  
}
/* ##   header */
.st_table_header {
  position: -webkit-sticky;
  position: sticky;
  display:block;
  top: 0px;
  z-index: 1;
  background-color: rgb(27, 30, 36); /*couleur fone entête */
  color: rgb(220, 220, 220);
}
.st_table_header h2 {
  font-weight: 400;
  margin: 0 20px;
  padding: 20px 0 0;
}
.st_table_header .st_row {
  color: rgba(220, 220, 220, 0.7);
}
.st_table_header .st_column {
}
/* ##  table */
.st_table {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
/* #   row */
.st_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.st_table .st_row:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}
/* #   column */
.st_column {
  padding: 10px 20px;
}

.buttonsCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}

#addD {
	margin-top: -30px;
	margin-bottom: 100px;
	padding: 10px 50px 10px 50px;
	color: black;
	font-size: x-large;
	background-color: white;
	border: 3mm ridge darkred;
}

/** TEMPLATE DEVIS **/

.button {
  line-height: 1;
  display: inline-block;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  background-color: forestgreen;
}



.detail {
  background: linear-gradient(#EAECEE, grey);
  width: 100%;
  height: 100%;
  padding: 40px 0;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.detail.open {
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.detail-container {
  margin: 0 auto;
  padding: 40px;
  max-width: 1000px;
}

dl {
  margin: 0;
  padding: 0;
}

dt {
  font-size: 2.2rem;
  font-weight: 300;
}

dd {
  margin: 0 0 40px 0;
  font-size: 1.8rem;
  padding-bottom: 5px;
  box-shadow: 0 1px 0 lightsteelblue;
}

#close {
  background-color: black;
  padding: 10px;
  color: #fff;
  font-weight: 800;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  line-height: 1;
  font-size: 1.8rem;
  position: fixed;
  right: 40px;
  top: 80px;
  width: 200px;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

#supp {
  background-color: black;
  padding: 10px;
  color: #fff;
  font-weight: 800;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 4px;
  line-height: 1;
  font-size: 1.8rem;
  position: fixed;
  left: 40px;
  top: 80px;
  width: 200px;
  -moz-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  -webkit-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

.supp:hover, .supp:focus {
  background-color: #a82545;
  border: 1px solid #a82545;
}

.close:hover, .close:focus {
  background-color: #a82545;
  border: 1px solid #a82545;
}

#commentaire {
	padding: 5px;
}

#btnCom {
	display: block;
	padding: 0 10px 0 10px;
}

/** TEMPLATE TABLEAU FERRURES DEVIS !! **/

html.open, body.open {
  height: 100%;
  overflow: hidden;
}

html {
  padding-top: 40px;
  font-size: 62.5%;
}

p {
  text-align: center;
  margin: 20px 0 60px;
}

main {
  background-color: #2C3845;
}

h1 {
  text-align: center;
  font-weight: 300;
}

table {
  display: block;
}

tr, td, tbody, tfoot {
  display: block;
}


tr {
  padding-bottom: 10px;
}

td {
  padding: 10px 10px 0;
  text-align: center;
}


table {
  width: 100%;
}

th {
  text-align: left;
  font-weight: 700;
}


@media (min-width: 720px) {
  table {
    display: table;
  }

  tr {
    display: table-row;
  }

  td, th {
    display: table-cell;
  }

  tbody {
    display: table-row-group;
  }

  td {
    border: 1px solid #28333f;
  }
  td:before {
    display: none;
  }

  td, th {
    padding: 10px;
  }

}

/******************************** TABLEAU FERRURES DEVIS **********************************/

#img {
	cursor: pointer;
}

.imgSuppArtDevis {
    max-width: 40px;
     max-height: 40px; 
}

#ferruresDevis .tabDevis {
    background-color: white;
    width: 100px;
    padding-right: 10px;
}

#ferruresDevis{
    position: relative;
}

 #ligPrixTot td{
  background-color: lightgrey;
}
