/******************************** FICHE PRODUIT **********************************/

#titleProduct {
	display: block;
	background-color: black;
	color: white;
	box-shadow: 0px 0px 3px #000;
	font-size: x-large;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 50px;
}

#imgProduct {
	width: 400px; 
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 40px;
}

h5 {
	background: linear-gradient(#EAECEE, lightgrey);
	box-shadow: 0px 0px 3px #000;
	font-size: large;
	font-weight: bold;
	padding: 7px;
	padding-right: 585px;
}

#description {
	margin-bottom: 50px;
}

#label {
	font-weight: bold;
	color: darkred;
	margin-bottom: 10px;
}

table {
	position: relative;
}

#addDevis {
	margin-bottom: 70px;
	font-size: x-large;
	padding-left: 50px;
	padding-right: 50px;
	color: white;
	background-color: #353a40;
}

.card-img-top {
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

#quantite {
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
	color: darkred;
}

#qteFerrure {
	width: 70px;
	padding-left: 2px;
}

#qteOpt, .choixDim {
	width: 70px;
	height: 25px;
	margin-left: 5px;
	margin-right: -75px;
	margin-bottom: -2px;
}

#indicQ {
	font-style: italic;
	font-size: small;
	text-align: center;
	margin-top: -5px;
	margin-bottom: 15px;
}

#indic {
	font-style: italic;
	font-size: small;
}

#titleDim, #titleCol, #titlePrix {
	font-weight: bold;
	color: darkred;
	margin-bottom: 10px;
	margin-top: 40px;
}

#titleDev {
	font-weight: bold;
	color: darkred;
	margin-bottom: 10px;
	margin-top: 20px;
	margin-right: 5px;
}

#titlePrix {
	font-size: x-large;
	color: black;
}

#dimFond {
	background-color: lightblue;
	padding: 8px;
	text-align: center;
}

#dimInclue {
	color: darkred;
	margin-bottom: 10px;
}

#colFond {
	background-color: #ECFFB3;
	padding: 8px;
	text-align: center;
}

#listeDevis {
	padding: 3px;
	padding-right: 20px;
}

td {
	padding: 10px;
	padding-right: 150px;
	border: 1px solid lightgrey;
	background-color: gainsboro;
}

#mat, #fin, #plan, .prixUnit, .prixOpt, .qteU {
	background-color: white;
}

.qteU, .prixUnit {
	padding-right: 50px;
}

#majPrix {
	display: inline;
}

#ajoutOK {
	margin-top: -20px;
	margin-bottom: 50px;
	text-align: center;
	font-weight: bold;
	font-size: large;
	color: green;
	background-color: white;
	border: 2px solid green;
	box-shadow: 0px 0px 3px #000;
}
